<% unless smart_listing.empty? %>
<table class="table">
  <thead>
    <tr>
      <th><div class="col-md-3"><%= smart_listing.sortable "Listing name", :name %></div></th>
      <th><div class="col-md-3"><%= "User name" %></div></th>
      <th><div class="col-md-3"><%= smart_listing.sortable "Price", :price %></div></th>
    </tr>
  </thead>
  <tbody>
    <% smart_listing.collection.each do |listing| %>
      <tr>
        <td>
          <%= link_to listing.name, listing %>
        </td>
        <td>
          <%= listing.user.name %>
        </td>
        <td>
          <%= number_to_currency(listing.price) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= smart_listing.paginate %>
<%= smart_listing.pagination_per_page_links %>
<% else %>
  <p class="warning">No records!</p>
<% end %>

