<h1>Manage Listings</h1>
<div class="well well-sm">
<h5> Hey <%= current_user.name %>! Here you can view and make changes to all of your listings.</h5>
</div>
<div class="row">
   <% @listings.each do |listing| %>
  <div class="col-md-3">
 <div class="thumbnail">
  
   <div class="caption">
     <%= link_to image_tag(listing.image_url(:thumb)), listing %>
     <h3><%= listing.name %></h3>
     <p><%= number_to_currency(listing.price) %></p>
     <p><%= listing.user.name %></p>
    
     <% if user_signed_in? && (current_user == listing.user) %> 
     <button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        <%=  link_to 'Edit', edit_listing_path(listing) %>  
     </button>
    <button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
         <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %>  
     </button>
 
     <% end %>
   </div>
    </div>
  </div>
  <% end %>
  </div>   


